[Unit]
Description=Datadog Agent
Requires=docker.service
After=docker.service

[Service]
Restart=always
Environment=DATADOG_API_KEY=
ExecStart=/usr/bin/docker run --rm --name dd-agent --net-host \
                              -v /var/run/docker.sock:/var/run/docker.sock:ro \
                              -v /proc/:/host/proc/:ro \
                              -v /sys/fs/cgroup/:/host/sys/fs/cgroup:ro \
                              -e API_KEY=$DATADOG_API_KEY \
                              -p 8125:8125 -p 8125:8125/udp \
                              datadog/docker-dd-agent:latest

