[Unit]
Description=Postgres Server
Requires=docker.service
After=docker.service

[Service]
Restart=always
ExecStart=/usr/bin/docker run --rm --name postgres --net=web \
                              -e POSTGRES_PASSWORD=$POSTGRES_PASSWORD \
                              -v /opt/postgres:/var/lib/postgresql/data \
                              -m 768M \
                              -p 5432:5432 \
                              postgres:9.6.1-alpine
ExecStop=/usr/bin/docker stop postgres

[Install]
WantedBy=multi-user.target
